.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;

    /* box-shadow: inset 0px 0px 100px 100px #0E0E17;  */
    background-color: rgba(14, 12, 21, 0.93);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: rgb(14, 12, 21);
    border-color: rgb(37, 33, 52);
    border-width: 1px;
    
}

.close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    justify-content: right;
    cursor: pointer;
}
